Source: ros-kinetic-libphidget21
Section: misc
Priority: extra
Maintainer: Benjamin Maidel <benjamin.maidel@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), libusb-dev, ros-kinetic-catkin, ros-kinetic-mk, ros-kinetic-roslib, ros-kinetic-rospack
Homepage: http://ros.org/wiki/libphidget21
Standards-Version: 3.9.2

Package: ros-kinetic-libphidget21
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-dev, ros-kinetic-mk, ros-kinetic-roslib, ros-kinetic-rospack
Description: This package wraps the libphidget21 to use it as a ros dependency
