Source: ros-hydro-phidgets-imu
Section: misc
Priority: extra
Maintainer: Murilo FM <muhrix@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-nodelet, ros-hydro-phidgets-api, ros-hydro-pluginlib, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-std-srvs, ros-hydro-tf
Homepage: http://ros.org/wiki/phidgets_imu
Standards-Version: 3.9.2

Package: ros-hydro-phidgets-imu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-nodelet, ros-hydro-phidgets-api, ros-hydro-pluginlib, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-std-srvs, ros-hydro-tf
Description: Driver for the Phidgets Spatial 3/3/3 devices
